/*{
    margin: 50;
    padding: 50;
    display: flex;
    flex-direction: column;
}*/
/* color palette */


body {
    /*margin: 15, 0, 15, 0;
    padding: 0;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: whitesmoke;

    /* add some colors idk */
}
header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 600px;
    background-color: lightcyan;
    /* add some colors */
}

h1 {
    align-items: right;
    text-align: right;
}

nav, h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    
 
    
}
.hero {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/IMG_0319.png");
    background-position: center;
}

.page-wrapper {
    max-width: 80%;
    margin-left:auto;
    margin-right: auto;
}

#bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightcyan;
}
p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: lightcyan;
}

.page-section {
  flex: 0 0 100%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   align-items: auto;
    background-color: blueviolet;
   background-image: url("../assets/IMG_1751.png");
   height: 200px;
   width: 300px;
   margin: 10 10 10 10;


}



#projects {
height: 900px;
width: 100%;
margin-bottom: 5px;
background-position: right;
background-color: lightsalmon;
}

.flex-item:hover {
    background-color:antiquewhite;
}



